@import url(reset.css);

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.section-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #000043;
}

.background-image{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-left: 5px solid #f1f1f1;
} 

.background-image img{
    height: auto;
    width: auto;
    position: relative;
    top: -60%;
    left: -90%; 

}

@font-face{
    font-family: 'Valorant';
    src: url(Valorant\ Font.ttf);
}

h1{
    font-family: 'Valorant', "Inter", sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding-top: 40px ;
}

h2{
    width: 250px;
    display: flex;
    color: #fff;
    justify-content: center;
    padding: 50px 0px 10px 0px;
}

a{
    font-size: 14px;
    color: #fff;
    align-items: center;
    height: 40px;
    align-content: end;
    text-decoration: none;
    transition: .3s all;
}

a:hover{
    color: #f1f1f1;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 400px;
    background-color:#0e076c;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#e-mail, #password{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
}
i{
    color: #000043;
    margin-left: 10px;
    font-size: 15px;
}

input{
    height: 20px ;
    background-color:transparent;
    color: #000000;
    border-radius: 5px;
    margin: 10px 0px 10px 5px;
    border: 0 none;
    outline: 0;
    font-size: 14px;
}

#input-email-e-password::placeholder{
    padding: 20px;
    color: #000000;
    font-weight: 500;
    text-align: center
}

.button-entrar{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 15px 0px 5px 0px;
}

.button-entrar a{
    font-size: 12px;
    height: 30px;
    text-align: center;
}

.button-entrar button{
    width: 70px;
    height: 30px;
    border-radius: 3px;
    border: 0 none;
    outline: 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    background-color: #000043;
    color: #fff;
    transition: .3s all;
}

.button-entrar button:hover{
    font-weight: 600;
    background-color: #fff;
    color: #000043;
    transition: .3s all;
}

#cadastrar{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-top: 10px;
    border-radius: 0px 0px 10px 10px;
}

#cadastrar h3{
    font-weight: 900;
    color: #000043;
    margin-top: 10px;
}

#cadastrar button{
    width: 95px;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 3px;
    border: 0 none;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    background-color: #000043;
    color: #fff;
    transition: .3s all;
}

#cadastrar button:hover{
    font-weight: 600;
    background-color: #fff;
    color: #000043;
    transition: .3s all;
}